.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo-and-title {
    display: flex;
    align-items: center;
    gap: 15px;

}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;

}

.title-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    color: #2a7cf6;
}

a {
    font-size: 14px;
    color: #2a7cf6;
}

.guide-section {
    margin-left: 810px;
    text-align: right;
}

.guide-link {
    font-size: 14px;
    color: #2a7cf6;
    text-decoration: none;
}

.guide-link:hover {
    text-decoration: underline;
}



.toggle-container {
    width: 300px;
    margin-left: 200px;
    margin-top: 30px;
    text-align: center;
}

.toggle-button-group {
    display: flex;
    border-radius: 20px;
    background-color: #e0e0e0;
    overflow: hidden;
    width: 120%;
    height: 35px;
}

.toggle-button {
    flex: 1;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.toggle-button.mat-button-toggle-checked {
    background-color: #57d9a3;
    color: white;
}

.toggle-button:not(.mat-button-toggle-checked) {
    background-color: white;
    color: #757575;
}